     /* nav */

nav{
     justify-content: center;
}
     /* bloc filtres */

.filtres{
     flex-wrap: wrap;
}

.bouton_filtre{
    margin-right:1%;
}

     /* bloc partie centrale */

.partie_centrale{
     max-width: 100%;
}

.les_plus_populaires{
     max-width: 30%;
     margin-right: 30%;
}

.activites_a_marseille{
    flex-wrap:wrap;
    margin-right:5%;
}

.bloc1 , .bloc2{
    width:65%;
    margin-right:25%;
}

.hebergements{
    width: 37%;
}

.bloc_hotel{
    height:48%;
}
 /* footer */

.a_propos{
    margin-right:2%;
    margin-left:8%;
}
.nos_hebergements{
    margin-right:9%;
}

.assistance ul{
    margin-left:5%;
}

.footer , ul{
    padding-left:8%;
}

