.bloc_page{
    width: clamp(721px ,100%,1250px);
}
 
 /* nav */

.logo{
    display: flex;
    align-items: center;
}

nav{
     justify-content: space-around;
}

nav li{
    margin-right:40%;
    padding-right: 25%;
}

nav ul{
    justify-content: flex-start;
}

nav p{
    margin-left: 25%;
}
     /* bloc filtres */

.filtres{
     flex-wrap: wrap;
}

.bouton_filtre{
    margin-right:1%;
}

     /* bloc partie centrale */

.partie_centrale{
     max-width: 100%;
}

.les_plus_populaires{
     max-width: 44%;
}

.activites_a_marseille{
    flex-wrap:wrap;
    margin-right:5%;
}

.bloc1 , .bloc2{
    width:65%;
}

.hebergements{
    width: 55%;
}

.bloc_hotel{
    height:48%;
}
 /* footer */

.a_propos{
    margin-right:2%;
    margin-left:8%;
}
.nos_hebergements{
    margin-right:9%;
}

.assistance ul{
    margin-left:5%;
}

.footer , ul{
    padding-left:8%;
}

